@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1f2937;
  color: white;

  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
  /* font-size: 1.2rem; */
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 1400px) {
  body {
    max-width: 1400px;
  }
}

.no-spin-arrows::-webkit-outer-spin-button,
.no-spin-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-placeholder::placeholder {
  opacity: 0.3;
  font-style: italic;
}
